<div>
  <div>
    {% if settings.field_wrapper.html_element != '_default' %}
      <strong>{{ 'Field wrapper'|t }}:</strong>
      <div style="margin-left: 1rem;">
        <div>
          <strong>{{ 'Tag'|t }}:</strong>
          {% if settings.field_wrapper.html_element != '_other' %}
            {{ settings.field_wrapper.html_element }}
          {% else %}
            {{ settings.field_wrapper.html_element_other }}
          {% endif %}
        </div>
        <div><strong>{{ 'Classes'|t }}:</strong> {{ settings.field_wrapper.html_element_classes }}</div>
        {% if not settings.field_wrapper.html_element_attributes is empty %}
          <div><strong>{{ 'Attributes'|t }}:</strong>
            <div style="margin-left: 1rem;">
            {% for name, value in settings.field_wrapper.html_element_attributes %}
              <div>{{ name }}: {{ value }}</div>
            {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div>
    {% if settings.field_item_wrapper.html_element != '_default' %}
      <strong>{{ 'Field item wrapper'|t }}:</strong>
      <div style="margin-left: 1rem;">
        <div>
          <strong>{{ 'Tag'|t }}:</strong>
          {% if settings.field_item_wrapper.html_element != '_other' %}
          {{ settings.field_item_wrapper.html_element }}
          {% else %}
          {{ settings.field_item_wrapper.html_element_other }}
          {% endif %}
        </div>
        <div><strong>{{ 'Classes'|t }}:</strong> {{ settings.field_item_wrapper.html_element_classes }}</div>
        {% if not settings.field_item_wrapper.html_element_attributes is empty %}
          <div><strong>{{ 'Attributes'|t }}:</strong>
            <div style="margin-left: 1rem;">
            {% for name, value in settings.field_item_wrapper.html_element_attributes %}
              <div>{{ name }}: {{ value }}</div>
            {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</dvi>